h1 {
    font-size: 40px;
    font-family: 'Arial', Helvetica, sans-serif;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    background-color: black;
    border-bottom: 5px solid rgb(213, 59, 59);
}

p {
    margin: 10px;
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
}