* {
    padding: 10px;
    background-color: rgb(224, 216, 194);
    color: rgb(46, 44, 41);
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.first-paragraph {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.first-paragraph::first-letter {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 5px;
    padding: 2px;
    border: double 3px rgb(46, 44, 41);
}

p {
    line-height: 1.5;
    text-align: left;
}